body {
  text-align: center;
  background-color: #fff9c7;
  margin: 50px;
}

/* type selector */
h1 {
  font-family: "Playwrite CU", cursive; /* main font, fallback fonts : 예비용 폰트 */
  color: #f37021;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #747474;
}

a {
  color: #81d8d0;
  text-decoration: none;
}

/* psuedo selector, 가상 selector */
a:hover {
  /* <a> element를 가르킬 때마다 적용되는 스타일 */
  text-decoration: underline;
}
